.popover {
	width:400px;
	height:100px;
}
.body-container {
	margin-top: 7px;
}
.progress {
	display:none;
	margin-top: 20px;
	width:500px;
}
.map {
    height: calc(100% - 215px);
    width: 100%;
}

.no-display-placeholder {
	color: dimgray;
}

label {
	margin-bottom: 0px !important;
}

.header-row {
	border-bottom: dotted lightgray 1px;
	padding-bottom: 5px;
	margin-bottom: 14px;
	color: slategray;
}

.panel-heading {
	padding: 7px 12px !important;
}

.panel-body {
	padding: 7px 12px !important;
	border: none;
	box-shadow: none;
}

/* --- Filter Bar --- */

.filter-row > button {
	width: calc(50% - 5px);
}

.filter-row > .places-reset-submit {
	margin-right: 5px;
}

/* --- Response Display Bar --- */

.response-elem-row {
	margin-bottom: 15px;
}

.response-elem-row > h3 {
	margin-top: 0px;
}

.response-property-col {
	text-align: center;
	padding: 15px;
}

.response-property-col > select {
	margin: 15px auto auto auto;
	width: 100%;
}

.response-property-col > button {
	margin-top: 15px;
	width: 80px;
}

.add-property-to-place-col {
	border-right: dotted darkgray 1px;
}

/* --- Manage Properties --- */

.curr-properties-col {
	margin: 40px auto;
}

.curr-properties-col > .panel {
	margin-bottom: 0px;
}

.add-property-col {
	text-align: center;
	margin-top: 20px;
}

.add-property-col > input {
	width: 100%;
}

.add-property-col > button {
	width: 100%;
}

.manage-property-col {
	text-align: center;
	padding: 20px;
}

.manage-property-col > button {
	margin-top: 20px;
	width: 150px;
}

.manage-property-col > input {
	margin: 20px auto auto auto;
	width: 50%;
}

.rename-property-col {
	border-right: dotted darkgray 1px;
}
