html {
    background-image: url('/login/images/compass-and-map.jpg');
    background-size: 100%;

}
.jumbotron-container {
    width: 100%;
    height: 100%;
    position: absolute;
}
.jumbotron {
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    opacity: 0.85;
    border-radius: 10px;
    text-align: center;
}
.jumbotron * {
    text-align: center;
}
.fb-button {
    cursor: pointer;
    width: 300px;
}
.error-msg {
    color: red;
    font-size: 15px !important;
}