html,body {
    background-color: khaki;
}
.jumbotron-container {
    width: 100%;
    height: 100%;
}
.jumbotron {
    margin-top: 150px;
    width: 100%;
    opacity: 0.85;
    border-radius: 10px;
    text-align: center;
}
.jumbotron * {
    text-align: center;
}
.fb-button {
    cursor: pointer;
    width: 100%;
}
.fb-button img {
    width: 100%;
}
.error-msg {
    color: red;
    font-size: 15px !important;
}
.row {
    margin: 0 !important;
}
html {
    font-size: 17px;
}
@media (max-width: 900px) {
    html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 14px; }
}

/* Type will scale with document */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}