<div class="row">
    <div class="col-xs-10 add-property-col">
        <input id="new-property" class="form-control"/>
    </div>
    <div class="col-xs-2 add-property-col">
        <button class="btn btn-success add-property-submit" type="button" disabled="true">Add Property</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 curr-properties-col" id="query-form">
        <label for="manage-select-curr-properties">Current Properties:</label>
        <select id="manage-select-curr-properties" size=6 class="form-control select-curr-properties">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 manage-property-col rename-property-col">
        <label for="renamed-property">Enter new name for chosen property</label>
        <input id="renamed-property" class="form-control" disabled="true"/>
        <button class="btn btn-info rename-property-submit" type="button" disabled="true">Rename</button>
    </div>
    <div class="col-xs-6 manage-property-col delete-property-col">
        <label>Click to delete property</label><br>
        <button class="btn btn-danger delete-property-submit" type="button" disabled="true">Delete</button>
    </div>
</div>
