<div class="row">
    <div class="col-xs-10">
        <input id="new-property" class="form-control"/>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-default add-property-submit" type="button">Add Property</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" id="query-form">
        Current Properties:
        <select id="properties" multiple size=6 class="form-control">
        </select>
    </div>
    <div class="col-xs-8">
        <input id="renamed-property" class="form-control"/>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-default rename-property-submit" type="button">Rename</button>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-default delete-property-submit" type="button">Delete</button>
    </div>
</div>
