<div class="row">
	<div class="col-md-4" id="query-form">
		Latitude: <input id="lat" class="form-control"/>  
		Longitude: <input id="lon" class="form-control" /> 
		Radius: <input id="radius" class="form-control" /> 
		Categories: 
		<select id="categories" multiple size=10 class="form-control">
		</select> 
		Properties: 
		<select id="properties" multiple size=10 class="form-control">
		</select> 
		<button class="btn btn-default submit" type="button"> Find me some places!</button>
	</div>
	<div class="col-md-8" id="results">
	</div>
</div>
