<div class="row">
	<div class="col-xs-2" id="query-form">
		<label for="categories">Categories:</label>
		<select id="categories" multiple size=6 class="form-control">
		</select> 
		<label for="places-select-curr-properties">Properties:</label>
		<select id="places-select-curr-properties" multiple size=6 class="form-control select-curr-properties">
		</select> 
		<button class="btn btn-default places-submit" type="button">Find me some places!</button>
	</div>
	<div class="col-xs-6">
		<div id="map" class="map"></div>
	</div>
	<div class="col-xs-4" id="response-place">
	</div>
</div>
