<div class="row">
	<div class="col-xs-2" id="query-form">
		<div class="row filter-row">
			<label for="categories">Categories:</label>
			<select id="categories" multiple size=8 class="form-control">
			</select>
		</div>
		<div class="row filter-row">
			<label for="places-select-curr-properties">Properties:</label>
			<select id="places-select-curr-properties" multiple size=8 class="form-control select-curr-properties">
			</select>
		</div>
		<div class="row filter-row">
			<button class="btn btn-info places-reset-submit" type="button">Reset</button>
			<button class="btn btn-primary places-submit" type="button">Apply</button>
		</div>
		<div class="row filter-row">
			<button class="btn btn-default places-clear-map" type="button">Clear Map</button>
		</div>

	</div>
	<div class="col-xs-7">
		<div id="map" class="map"></div>
	</div>
	<div class="col-xs-3" id="response-place">
	</div>
</div>
