<div class="row">
	<h1 id="place-name"></h1>
</div>
<div class="row">
	<div class="col-xs-6">
        Categories:
        <select id="response-place-categories" multiple size=6 class="form-control">
        </select>
    </div>
    <div class="col-xs-6">
        Properties:
        <select id="response-place-properties" size=6 class="form-control">
        </select>
		<br />
        <select id="response-place-new-property" class="form-control">
        </select>
		<button class="btn btn-default places-new-property-submit" type="button">Add property</button>
        <button class="btn btn-default places-remove-property-submit" type="button">Remove property</button>
		
    </div>
</div>
