
<div class="container dialog-container"></div>
<div class="row">
  <div class="row header-row">
    <div class="col-sm-12 col-xs-12">
      <h4>Search for places:</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-xs-12">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <select id="select-curr-categories" multiple="multiple" style="width:100%">
        </select>
      </div>
      <div class="col-sm-6 col-xs-12">
        <select id="select-curr-properties" multiple="multiple" style="width:100%">
        </select>
      </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-8">
            Mark desired area for finding all places that match chosen categories and/or properties
        </div>
        <div class=".col-md-3 .col-md-offset-3">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-sm places-submit" type="button" disabled="true">Search</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-sm places-reset-submit" type="button">Reset</button>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
          <div class="col-sm-10 col-xs-12 top-buffer">
              <div id="places-map" class="map "></div>
          </div>
    <div class="recommendation-container col-sm-2 col-xs-12 top-buffer">
    </div>
    </div>
    <div class="visible-xs col-xs-12">
        <div class="spacer"></div>
    </div>
    <div id="alerts-row-search" class="alerts-row col-sm-10 col-xs-12">
    </div>
</div>
<div id="response-place"></div>