
<div class="container dialog-container"></div>
<div class="row">
  <div class="row header-row">
    <div class="col-sm-9 col-xs-12">
      <h4>Search for places:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <select id="select-curr-properties" multiple="multiple" style="width:100%">
      </select>
    </div>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-sm-2 col-xs-12" id="query-form">
    <div class="row header-row">
      <div class="col-sm-12 col-xs-12">
        <h4>Categories</h4>
        Choose multiple
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-sm-12 col-xs-12">
        <div class="panel panel-success">
        <div class="panel-heading">
          <label for="places-select-curr-categories">Categories</label>
        </div>
        <select id="places-select-curr-categories" multiple size=16 class="form-control panel-body select-curr-categories">
        </select>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-7 col-xs-12">
    <div class="row header-row">
      <div class="col-sm-12 col-xs-12">
        Mark desired area for finding all places that match chosen categories and/or properties
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div id="places-map" class="map"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="row header-row">
        <h4>Recommended Places</h4>
    </div>
    <div class="row">
      <a href="#" class="thumbnail">
        <img class="img-responsive" id="recommend1" src="http://localhost:8080/app/image/ChIJpeqp235MHRUR6hmuonFkXM8.jpg" alt="...">
      </a>
    </div>
    <div class="row">
      <a href="#" class="thumbnail">
        <img id="recommend2" src="http://localhost:8080/app/image/ChIJf2aK2oZLHRURbyLnb_j0uUk.jpg" alt="...">
      </a>
    </div>
    <div class="row">
      <a href="#" class="thumbnail">
        <img id="recommend3" src="http://localhost:8080/app/image/ChIJpz9FAptLHRURE7h6eDCkS_c.jpg" alt="...">
      </a>
    </div>
  </div>
</div>
<div class="row"></div>
<div class="row filter-row">
  <div class="visible-xs col-xs-12">
    <div class="spacer"></div>
  </div>
  <div class="col-sm-1 col-xs-12">
    <div class="btn-container">
      <button class="btn btn-info places-reset-submit" type="button">Reset</button>
    </div>
  </div>
  <div class="visible-xs col-xs-12">
    <div class="spacer"></div>
  </div>
  <div class="col-sm-1 col-xs-12">
    <div class="btn-container">
      <button class="btn btn-primary places-submit" type="button" disabled="true">Apply</button>
    </div>
  </div>

  <div class="visible-xs col-xs-12">
    <div class="spacer"></div>
  </div>
  <div class="alerts-row col-sm-10 col-xs-12">
  </div>
</div>
  <div id="response-place"></div>
