<div class="modal fade response-place-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="place-name"></h4>
      </div>
      <div class="modal-body">
        <div class="row response-elem-row">

          <div class="col-xs-6 response-property-col">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <label for="response-place-categories">Categories</label>
		  </div>
		  <select id="response-place-categories" multiple size=3 class="form-control panel-body">
		  </select>
		</div>

          </div>

          <div class="col-xs-6 response-property-col">

		<div class="panel panel-success">
		  <div class="panel-heading">
		    <label for="response-place-properties">Properties</label>
		  </div>
		  <select id="response-place-properties" multiple size=3 class="form-control panel-body">
		  </select>
		</div>
          </div>


	    <div class="col-xs-12 col-sm-12">
		<img width="100%" id="selectPlaceImage" class="center-block">
	    </div>

        </div>
      </div>
    </div>
  </div>
</div>


