<div class="row response-elem-row">
  <h3 id="place-name"></h3>
</div>
<div class="row response-elem-row">
  <label>Categories:</label>
  <ul id="response-place-categories">
  </ul>
</div>
<div class="row response-elem-row">
  <label for="response-place-properties">Properties:</label>
  <select id="response-place-properties" size=5 class="form-control">
  </select>
</div>
<div class="row response-elem-row">
  <div class="col-xs-6 response-property-col add-property-to-place-col">
    <label for="response-place-new-property">Choose property and add to place</label>
    <select id="response-place-new-property" class="form-control">
    </select>
    <button class="btn btn-success places-new-property-submit" type="button">Add</button>
  </div>
  <div class="col-xs-6 response-property-col delete-property-from-place-col">
    <label>Remove property from place</label><br>
    <button class="btn btn-danger places-remove-property-submit" type="button" disabled="true">Remove</button>
  </div>
</div>






